# Ignorar pastas grandes
Library/
library/
UserSettings/
userSettings/

# Ignorar todas as pastas, exceto Assets_Externos
*/  

# Não ignorar a pasta Assets_Externos
!Assets/Assets_Externos/
# Não ignorar o arquivo .meta da pasta Assets_Externos
!Assets/Assets_Externos.meta

# Logs
*.log

# Arquivos temporários e caches comuns
.vs/
.gradle/
Temp/
temp/
Obj/
obj/
Build/
build/
Builds/
builds/

# Arquivos de backup e temporários do Unity
*.pidb
*.pdb
*.mdb
*.tmp
*.user
*.userprefs
*.suo

# Relatórios e arquivos automáticos
sysinfo.txt
mono_crash.*

# Evitar metadados desnecessários
*.pidb.meta
*.pdb.meta
*.mdb.meta
